<p [attr.attribute-you-are-targeting]="actionName"></p>
<button  [attr.aria-label]="actionName">{{actionName}} with Aria</button>
<table class="table"  >
  <tr>
    <th>Month</th>
    <th>Savings</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td [attr.colspan]="2" >tao</td>
    <td [attr.colspan]="" >một- hai</td>
    <td [attr.colspan]="" >một- hai</td>
  </tr>
<br>
<div [class.sale]="onSale">
  {{onSale}}
</div>
<div [class]="classExpression" ></div>
<nav [style.background-color]="expression" >Hiiii</nav>
<nav [style.backgroundColor]="expression" >Haaaa</nav>
</table>


