<div class="row">
  <div class="col" >
    <a [routerLink]="['/addCate']" class="btn btn-primary">Add Category</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
   List Category
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">acs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categories">
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>

              <a [routerLink]="['/editCate/'+item.id]" class="btn btn-primary">Edit</a>
              <a  [routerLink]="['/deleteCate/'+item.id]" tybe="submit" class="btn btn-danger" >Xóa</a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
