
<form action="" (ngSubmit)="changeDetail(detailForm)" #detailForm="ngForm" >
    <div class="mb-3">
      <label for="productName" class="form-label">Tên</label>
      <input type="text"
        class="form-control" [(ngModel)]="product.productName" name="productName" id="productName"
         aria-describedby="productName" placeholder="productName">
      <small id="productName" class="form-text text-muted">Product name</small>
    </div>
    <div class="mb-3">
      <label for="productNode" class="form-label">Mô tả</label>
      <input type="text" [(ngModel)]="product.productNode"
        class="form-control" name="productNode" id="productNode" aria-describedby="productNode" placeholder="productNode">
      <small id="productNode" class="form-text text-muted">Product Node</small>
    </div>
    <button class="btn btn-primary">Cập nhật</button>
  </form>
  <p>{{product | json}}</p>
