<div class="container">
<img width="150px" [src]="itemImageUrl" alt="">
<hr>
<table class="table" >
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td [colSpan]="colspan">January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$100</td>
  </tr>
  <button class="btn btn-secondary" [disabled]="isUnchanged" > Đây là nút bấm </button>
</table>
<app-product></app-product>
      <hr>
      <app-c-property></app-c-property>
      <hr>
      <app-f-pipes></app-f-pipes>
      <hr>
      <h3>@input</h3>
      <app-input-property></app-input-property>
      <hr>
      <h3>@uotput</h3>
      <app-output-property></app-output-property>
      <hr>
      <app-todo></app-todo>
</div>
<br>
<br>
<br>
<br>
<br>


