<div class="container">
  <header class="row">
    <div class="col">
      <h1>Xin chào mấy cưng</h1>
       <p>Tên: {{student.fullname}}</p>
      <p>Tuổi: {{student.age}}</p>
    </div>
  </header>
  <section class="row">
    <div class="col">

      <app-font-zide-editor></app-font-zide-editor>
      <hr>
      <app-product></app-product>
      <hr>
      <app-pet></app-pet>
      <hr>
      <app-b-property></app-b-property>
      <hr>
      <app-c-property></app-c-property>
      <hr>
      <app-d-event></app-d-event>
      <hr>
      <app-product-list></app-product-list>
      <hr>
      <app-product-detail></app-product-detail>
      <hr>
      <app-article></app-article>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>
  </section>
</div>
