<div class="container">
  <header class="row">
    <div class="col">
      <h1>Xin chào mấy cưng</h1>
      <p>Tên: {{student.fullname}}</p>
      <p>Tuổi: {{student.age}}</p>
    </div>
  </header>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li>
      <button class="nav-link" type="button" [routerLink]="['/admin']">admin</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/productlist']">Product list</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/fontsize-edit']">Tăng giảm form</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/game']">Game</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/pet']">Thú cưng</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/event']">Event</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/article']">Bài Viết</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/allThucHanh']">Thực hành khác</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/login']">Login</button>
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/productadd']">add Product</button> 
    </li>
    <li>
      <button class="nav-link" type="button" [routerLink]="['/reactiveform']">reactiveform</button>
    </li>


  </ul>
  <!-- Tab panes -->
  <section class="row">
    <div class="col">
      <router-outlet></router-outlet>
      <!-- <app-product-list></app-product-list> -->
      <!-- <app-product-detail></app-product-detail> -->
      <!-- <app-font-zide-editor></app-font-zide-editor> -->
      <!-- <app-pet></app-pet> -->
      <!-- <app-game></app-game> -->
      <!-- <app-d-event></app-d-event> -->
      <!-- <app-article></app-article> -->
      <!-- <app-b-property></app-b-property> -->
    </div>
  </section>
</div>
